/nbproject/private/
*.php
*.htaccess
*.html
*.png
*.css
*.json
contributing.md
*.map
*.js
*.jpg
*.txt
*.dat
*.ttf
*.rst
*.gif
user_guide_src/source/_themes/sphinx_rtd_theme/static/fonts/FontAwesome.otf
*.otf
css/font-awesome/less/animated.less
*.woff2
css/font-awesome/fonts/fontawesome-webfont.svg
*.eot
*.scss
system/libraries/glyphicons/glyphicons_social/psd/glyphicons_social.psd
*.psd
*.xml
*.wmf
system/libraries/mpdf/examples/tiger.svg
*.svg
tests/mocks/database/ci_test.sqlite
*.icc
system/libraries/mpdf/examples/sample_basic.pdf
*.htm
system/libraries/mpdf/examples/sample_orientation2.pdf
*.pdf
*.less
*.woff
tests/README.md
*.bmp
user_guide_src/cilexer/cilexer/cilexer.py
*.py
user_guide_src/source/documentation/ELDocs.tmbundle.zip
*.ico
user_guide_src/source/_themes/sphinx_rtd_theme/LICENSE
*.conf
user_guide_src/cilexer/README
user_guide_src/Makefile